<% admin_page_title("Projects") %>
<% if @project %>
<div id="statusMessage" style="display:none"></div><br />
<div class="span-24">
  <%= link_to "Back to Project", admin_project_url(@project) %>
</div>
<hr />

<% form_for [:admin, @project], :url => {:action => :create_screenshots, :id => @project}, 
            :html => {:multipart => true} do |f| %>
<table class="simpleTable">
	<tr><th colspan="3">New Screenshots</th></tr>
  <tr>
    <td class="left">Add Screenshots
  </td>
		<td class="right">
      <div id="attachments">
          <%= render :partial => "/admin/projects/screenshot", :collection => @screenshots %>
        </div>
      <br />
      <%= add_screenshot_link "Add a screenshot" %>
		</td>
    <td class="errorCol">
    </td>
  </tr>
	<tr>
		<td class="left">&nbsp;</td>
		<td class="right"><%= fancy_submit_button "Add Screenshots" %></td>
    <td class="errorCol">&nbsp;</td>
	</tr>

</table>
<% end %>
<% end %>
