<% admin_page_title("Pages") %>
<div id="statusMessage" style="display:none"></div><br />
<div class="span-24">
  <%= link_to "Show this page", admin_static_page_url(@static_page) %>
</div>
<hr />
<% form_for [:admin, @static_page], :url => {:action => "update"} do |f| %>
<table class="simpleTable">
	<tr><th colspan="3">Edit page</th></tr>
  <%= render :partial => "form", :locals => {:f => f} %>
	<tr>
		<td class="left">&nbsp;</td>
    <td class="right">
      <%= fancy_submit_button "Update" %>
    </td>
    <td class="errorCol">&nbsp;</td>
	</tr>
</table>
<% end %>
<%= textile_editor_initialize -%>
