<div class="span-24" id="latestProjects">
<% if @site_options.show_projects  %>
  <% unless session[:hide_projects] %>
  <% @latest_projects = Project.latest_projects %>
    <% i = 0 %>
    <% @latest_projects.each do |latest_project| %>
      <% last_item = (i>1) ? "last" : "" %> 
      <div class="span-8 <%= last_item %>">
        <div class="box">
          <span class="latestProjectTitle"><b><%= latest_project.title %></b></span> (<%= latest_project.programming_language %>)<br />
          <%= screenshot_thumb_with_link_for_project(latest_project) %>
        </div>
      </div>
      <% i += 1 %>
    <% end %>
  <% end %>
<% end %>
</div>
